*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Roboto",sans-serif;
}
body{
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 375px;
    background-color: #F4F4F4;
    /*  margin: 0 auto;
    margin-top: 100px;
    display:flex;*/


}
header{
    background-color: #1B83E2;
    color:#ffffff;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  text-align: center;
    padding-top: 22px; /* espaçamento interno,não usar a margin pois ela vai fazer referencia a pagina */ 

}
h1{
    font-style: normal;
    font-weight: normal; /* peso da fonte */
    font-size: 24px;
    line-height: 18px;
    color:#F4F4F4;
    
}

main{
    padding:24px; /* pois assim ele coloca margem dentroda pagina para todos os elementos */
}

label{
    font-style: normal;
    font-weight: normal; /* peso da fonte */
    font-size: 14px;
    line-height: 18px;
    color:#777777;
}

select{
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block; /* deixa em linhas diferentes */
    width: 100%; /* vai ocupar 100 por cento do espaço disponivel */
    cursor:pointer;
    outline: none; /*tira a borda azul */
    appearance: none;/*tira a setinha */
    padding-left:16px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    margin-top:6px;
    margin-bottom: 24px;


}

input{
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block; /* deixa em linhas diferentes */
    width: 100%; /* vai ocupar 100 por cento do espaço disponivel */
    outline: none; /*tira a borda azul */
    padding-left:16px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    font-size: 18px;
}
button{
    background-color: #1B83E2;
    border-radius: 25px;
    height: 48px;
    color:#f4f4f4;
    cursor:pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    border:none;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 36px;

}
button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.9;
}

section{
    border:1px solid #1B83E2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}
.currency-container{
    /* text-align: center; */
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2px;

}
.currency-name{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color:#777777;
}
.currency-value{
    color:#1B83E2;
    font-weight: bold;
    font-size: 20px;
}
.seta{
    /* margin:15px auto; 
    display:block;*/
}